.cards { 
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
    background-image: linear-gradient(180deg, rgb(92, 206, 221), rgb(68, 172, 233));
    

  }

.button { 
    text-align: right;

  }

.player1 {
    display: inline;
    float: left;
    background-image: linear-gradient(180deg, rgb(186, 213, 221), rgb(181, 202, 214));
  }

.player1 img {
    display: block;
    height: 140px;
    width: auto;
  }
.player2 img {
  display: block;
  height: 140px;
  width: auto;
  }

.player2 {
    float: right;
    display: inline;
    background-image: linear-gradient(180deg, rgb(186, 213, 221), rgb(181, 202, 214));
  }

  .matchImg {
    z-index: 999;
    position: absolute;
    display: none;
    justify-content: center;  
  }

  .gameOver {
    z-index: 1000;
    position: absolute;
    display: none;
    justify-content: center;  
  }

  .bg-modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .modal-contents {
    height: 25%;
    width: 20%;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
  }
  
  input {
    margin: 15px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
  }
